@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-doodle {
    background-image: url(/images/bg-chat-tile.png);
    opacity: 0.05;
    background-size: 412.5px 749.25px;
  }
  .input-default {
    display: inline-block;
    width: 100%;
    background-color: theme('backgroundColor.secondary.default');
    color: theme('textColor.contrast.secondary');
    padding: theme('spacing.3') theme('space.4');
    border-radius: theme('borderRadius.lg');
    border-color: transparent;
  }
  .input-default:focus {
    outline: none;
  }
  .input-default::placeholder {
    color: theme('textColor.contrast.secondary');
  }
  .btn-default {
    cursor: pointer;
    padding: theme('spacing.3') theme('spacing.4');
    white-space: nowrap;
    font-weight: 600;
    border-radius: theme('borderRadius.lg');
    transition-property: theme('transitionProperty.all');
    transition-duration: theme('transitionDelay.150');
    transition-timing-function: theme('transitionTimingFunction.out');
  }
  .btn-default:hover {
    filter: brightness(theme('brightness.125'));
  }
  .app-left-body {
    height: calc(100% - 60px);
  }
  .app-right-body {
    max-height: calc(100vh - 60px);
  }
  .primary {
    background-color: theme('colors.primary.light');
    color: theme('colors.contrast.strong');
  }
  .error {
    background-color: theme('backgroundColor.red.500');
    color: theme('colors.contrast.strong');
  }
  .warning {
    background-color: theme('backgroundColor.orange.400');
    color: theme('colors.black/80');
  }
  .success {
    background-color: theme('colors.accent.medium');
  }
}
::-webkit-scrollbar-track,
html[dir] .light ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.005);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.16);
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
