@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-bg {
    background-image: url(/images/bg-chat-tile.png);
    opacity: 0.05;
    background-size: 412.5px 749.25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  .btn-default {
    cursor: pointer;
    padding-left: theme('spacing.8');
    padding-right: theme('spacing.8');
    padding-top: theme('spacing.3');
    padding-bottom: theme('spacing.3');
    box-shadow: theme('boxShadow.xl');
    white-space: nowrap;
    font-weight: 600;
    border-radius: theme('borderRadius.lg');
    transition-property: theme('transitionProperty.all');
    transition-duration: theme('transitionDelay.150');
    transition-timing-function: theme('transitionTimingFunction.out');
  }
  .btn-default:hover {
    filter: brightness(theme('brightness.125'));
  }
}
